[include shell_command.cfg]
[include mainsail.cfg]
[include fluidd.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000

[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_min: -14
position_endstop: -14
position_max: 400
homing_speed: 60.0

[stepper_y]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PL7
position_endstop: 0
position_max: 410
homing_speed: 50.0

[stepper_z]
step_pin: PL3
dir_pin: PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8
endstop_pin: ^PD3
position_endstop: 0.0
position_min: -8
position_max: 450
homing_speed: 5.0

[stepper_z1]
step_pin: PC1
dir_pin: PC3
enable_pin: !PC7
microsteps: 16
rotation_distance: 8
endstop_pin: ^PL6

[extruder]
#max_extrude_only_distance: 100
#min_extrude_temp: 0
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 7.8271605
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5
min_temp: 0
max_temp: 245
pressure_advance: 0.873

[firmware_retraction]
retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 25
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[heater_fan extruder_fan]
pin: PL5

[heater_bed]
heater_pin: PL4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
#control: pid
#pid_Kp: 67.675
#pid_Ki: 1.920
#pid_Kd: 596.390
min_temp: 0
max_temp: 110

[fan]
pin: PH6

[bed_mesh]
speed: 50
horizontal_move_z: 20.990
mesh_min: 20,20
mesh_max: 390, 400
probe_count: 5,5

### YOU MUST PERFORM A PROBE CALIBRATE OVER YOUR BED TO SET THE PROBE Z_OFFSET PRIOR TO USING BED LEVELING. THE DEFAULT Z_OFFSET IS A SAFE OFFSET TO CLEAR THE BED WITH THE STOCK PROBE.
[probe]
pin: PE4
x_offset: 0.0
y_offset: 0.0
#z_offset: 20.99
speed: 5.0
samples: 3
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 0

# Filament Switch Sensor.
# [filament_switch_sensor filament_runout]
# pause_on_runout: False
# # runout_gcode:
# #  M300 S440 P200
# #  M300 S660 P250
# #  M300 S880 P300
# # insert_gcode:
# #  M83
# #  G1 E40 F600
# #  G1 E520 F2500
# #  G1 E60 F600
# event_delay: 3.0
# switch_pin: ^!PC4

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1200
max_z_velocity: 10
max_z_accel: 60

[gcode_macro start_print]
description: Starts the print
#G1 F200 E-3 ;Retract 3mm filament for a clean start
gcode:
  BED_MESH_PROFILE LOAD=default
  {% set bed_temp = params.BED_TEMP|default(55)|float %}
  {% set hotend_temp = params.HOTEND_TEMP|default(190)|float %}
  M140 S{bed_temp} ;Set bed temp -- Don't wait
  M104 S{hotend_temp} ;Set Hotend Temp
  M105 ;Report Temp to Host
  M190 S{bed_temp} ;Wait for bed to reach temp
  M109 S{hotend_temp} ;Wait for hotend to reach temp
  M82 ;absolute extrusion mode
  M107 ;Start with the fan off
  G21 ;Set units to millimeters
  G91 ;Change to relative positioning mode for retract filament and nozzle lifting
  G92 E0 ;Zero the extruded length
  G28 X0 Y0 ;First move X/Y to min endstops
  G28 Z0 ;Then move Z to min endstops
  G90 ;Absolute positioning
  M82 ;Set extruder to absolute mode too
  wipe_nozzle

[gcode_macro wipe_nozzle]
description: Clears and wipes filament - http://kj7djr.com/nozzle-purge-and-wiping-gcode/
gcode:
  {% set wipe_height = printer.configfile.settings.extruder.nozzle_diameter / 2 %}
  
  G0 Z{wipe_height} ; Drop to bed
  G92 E0 ; zero the extruded length
  G1 X100 E25 F500 ; Extrude 25mm of filament in a 4cm line
  G92 E0 ; zero the extruded length
  G1 E-1 F500 ; Retract a little
  G1 X80 F4000 ; Quickly wipe away from the filament line
  G1 F1000 Z15 ;After homing lift the nozzle 15mm before start printing

[gcode_macro end_print]
description: Starts the print
gcode:
 G91 ;Change to relative positioning mode for filament retraction and nozzle lifting
 G1 F200 E-4;Retract the filament a bit before lifting the nozzle
 G1 F1000 Z5;Lift nozzle 5mm
 G90 ;Change to absolute positioning mode to prepare for part rermoval
 G1 X0 Y400 ;Move the print to max y pos for part rermoval
 M104 S0 ; Turn off hotend
 M106 S0 ; Turn off cooling fan
 M140 S0 ; Turn off bed
 M84 ; Disable motors

# [input_shaper]
# shaper_freq_x: 34.6
# shaper_freq_y: 32.1
# shaper_type: ei


[heater_fan stepstick_fan]
pin: PH4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.940
#*# pid_ki = 0.963
#*# pid_kd = 113.859
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.138
#*# pid_ki = 2.551
#*# pid_kd = 390.668
#*#
#*# [probe]
#*# z_offset = 15.954
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -5.946500, -6.153167, -6.184833, -6.122333, -5.876500
#*# 	  -5.974833, -6.169833, -6.199000, -6.159833, -5.959833
#*# 	  -5.989833, -6.163167, -6.155667, -6.153167, -5.989000
#*# 	  -5.939833, -6.117333, -6.150667, -6.129833, -5.957333
#*# 	  -5.909000, -6.104833, -6.136500, -6.139000, -5.963167
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 400.0
#*# mesh_x_pps = 2
#*# max_x = 390.0
